body {
    background: black;
    text-align: center;
    overflow:hidden;
}

#hitpoint {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: all 1s ease;
    cursor: pointer;
}


.all-info {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white; 
    font-family: 'Roboto', sans-serif;
}

.game-area {
    margin: auto;
    justify-content: center;
    align-items:center;
    position:flex;
    padding-right: 400px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 1000px;
    height: 850px;
    border: 2px solid #333;
    position:relative;
}